<li class="todo" data-done="{{done}}" data-index="{{index}}">
    <input class="todoDone" type="checkbox" {{doneChecked}} name="todoTitle">
    <label {{doneClass}} for="todoTitle">{{title}}</label>
    <a href="javascript:void(0);" class="deleteTodo"></a>
</li>